.theme-dark {
    --eminent-bg: rgb(10, 12, 15);
    --eminent-dark-under-dim: rgb(0, 0, 0, 0.25);
    --eminent-darken-under: rgb(0, 0, 0, 0.5);
    --eminent-brighten-dim: rgb(114, 114, 226, 0.15);
    --eminent-brighten-bright: rgb(114, 114, 226, 0.5);
    --eminent-color: rgb(114, 114, 226);
    --eminent-bg-darken: rgb(5, 7, 9);
    
    --background-primary: var(--eminent-bg);
    --background-secondary: var(--eminent-dark-under-dim);
    --background-tertiary: var(--eminent-bg);
    --text-link: var(--eminent-color);
    
    --channeltextarea-background: var(--eminent-darken-under);
    --background-modifier-selected: var(--eminent-brighten-dim);
    --background-modifier-active: var(--eminent-brighten-dim);
    --background-modifier-hover: var(--eminent-brighten-dim);
    --background-secondary-alt: var(--eminent-darken-under);
    --background-floating: var(--eminent-bg-darken);
    
    --primary-630: var(--eminent-bg-darken);
    --background-accent: var(--eminent-bg-darken);
}

/* CSS snippets */
.expandedFolderBackground-1kSAf6 {
    border-radius: 8px;
    bottom: 6px;
}

.userPopoutOuter-1OHwPL {
    border: 1px solid var(--text-link);
}

.rolePillBorder-3R4Bb5 {
    border-color: var(--eminent-brighten-bright);
}

.userProfileInnerThemedNonPremium-2AJg-H {
    --profile-gradient-primary-color: rgb(19, 19, 38);
    --profile-gradient-secondary-color: #00422f;
}

.childWrapper-1j_1ub {
    background-color: var(--eminent-bg-darken);
}

.contentWrapper-3vHNP2 {
    background: var(--eminent-bg-darken);
}

.searchBar-jGtisZ {
    background-color: var(--eminent-darken-under);
}

.toolbar-3_r2xA > .iconWrapper-2awDjA:hover {
    border-radius: 6px;
    background: var(--eminent-darken-under);
}
